@import "tailwindcss";

@keyframes float3d {
  0% { transform: translateY(0px) rotateX(0deg); }
  50% { transform: translateY(-8px) rotateX(10deg); }
  100% { transform: translateY(0px) rotateX(0deg); }
}

/* Web + WebView base fix */
html,
body,
#root {
  @apply h-full w-full m-0 p-0;
}

/* Disable text copy by default */
body {
  @apply overflow-x-hidden;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
   -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none; /* iOS long press */
  touch-action: manipulation; /* Prevent zoom gestures */

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ✅ Allow selection where REQUIRED */
input,
textarea,
select {
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
* {
  -webkit-user-select: none;
  user-select: none;
}
